arclaunch.bat
arcomp.ini
arcomp.pyproj
arcomp.pyproj.user
arcomp.sln
arcompdata.db
autoruns-20220105154710.csv.XXX
autoruns-20220105155738.csv
autoruns-20220105162730.csv
autoruns-20220107075809.csv
autoruns-20220205203911.csv.XXX
.vs/arcomp/v16/.suo
.vs/arcomp/v17/.suo
production/arclaunch.bat
production/arclaunch.bat.OLD
production/arcomp.ini
production/arcomp.ini.EXAMPLE
production/arcomp.log
production/arcomp.py
production/arcompattachment.html
production/arcompdata.db
production/aroutput.csv
production/outfile.csv
production/outfile.html
production/outfile.json
production/outfile.txt
