echo off

REM ***** Set these variables to the appropriate values
set PYTHONPATH=C:\Path\To\python.exe
set ARCOMPPATH=D:\Path\To\arcomp.py
set OPTIONS=-c ars -w outfile.csv,csv -w outfile.txt,text -w outfile.html,html -w outfile.json,json -e

REM DO NOT change anything below here. Let the program do its thing
set ARCDRIVE=%ARCOMPPATH:~0,2%
%PYTHONPATH% %ARCOMPPATH% %OPTIONS%
