[main]
autorunspath=C:\Path\to\autorunsc.exe
datapath = C:\Path\to\arcomp.py

[email]
server = smtp.gmail.com
port = 587
encryption = true
account = youraccount@gmail.com
password = yourpassword
sender = youraccount@gmail.com
sendername = Arcomp Report Service
receiver = youraccount@gmail.com
subject = AutoRuns Comparison Report for mysystem

[fields]
run_id = True
action = True
time = True
location = True
entry = True
enabled = True
category = True
profile = True
description = True
signer = True
company = True
imagepath = True
version = 
launchstring = True
vtdetection = 
vtpermalink = 
md5 = 
sha1 = 
pesha1 = 
pesha256 = 
sha256 = 
imp = 

[ignore_signer]
(Verified) Microsoft Windows
(Verified) Microsoft Corporation
(Verified) Google LLC
(Verified) Intel Corporation

[ignore_company]

